/* App.css */
h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #e7ddeb;
  margin-bottom: 30px;
  background: linear-gradient(to right, #b9efd0, #e2dcee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  font-weight: 700;
  animation: pop 0.8s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  background: linear-gradient(to right, #f7f7f7, #dfe9f3);
  font-family: 'Segoe UI', sans-serif;
}

.meme-box {
  width: fit-content;
  padding: 20px;
  border: 2px dashed #ccc;
  margin: auto;
  position: relative;
  background-color: #fff;
}

.edit-page {
  text-align: center;
  margin-top: 40px;
}

.buttons {
  margin-top: 20px;
}

.card {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.template-slider {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  border-top: 1px solid #ccc;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.template-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

